body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
}

/* Sidebar */
.sidebar {
    width: 220px;
    height: 100vh;
    background-color: #2f3542;
    color: white;
    position: fixed;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 12px;
    margin: 10px 0;
    background: #57606f;
    cursor: pointer;
    border-radius: 5px;
}

.sidebar ul li:hover {
    background: #747d8c;
}

/* Main Content */
.main-content {
    margin-left: 240px;
    padding: 20px;
}

/* Cards */
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

/* Inputs */
input, select {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Buttons */
button {
    padding: 10px 15px;
    background-color: #2ed573;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1eae60;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background-color: #dfe4ea;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}


.dashboard-cards {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.stat-card {
    flex: 1;
    padding: 20px;
    background: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.stat-card h3 {
    margin: 0;
    color: #57606f;
}

.stat-card p {
    font-size: 24px;
    margin: 10px 0 0;
    font-weight: bold;
}